body{
    background-color: black;
}


.title{
    font-size: 70px;
    color: azure;
    
}
#amba{
    color: aquamarine;
    margin-top: -50px;
}
#sub-judul{
    color: aliceblue;
    
}
button{
    background-color: gray;
    padding: 10px;
    border-radius: 11px;
    
}